* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(180deg, #2387da 0%, #0b1c53 100%);
  font-family: "Poppins", sans-serif;
  color: white;
  min-height: 100vh;
}

h3 {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 25px;
  margin-top: 4rem;
  margin-bottom: 1rem;
  pointer-events: none;
}

hr {
  width: 30%;
  margin-top: 0rem;
  margin: auto;
  margin-bottom: 2.5rem;
  display: block;
  border: none;
  color: white;
  height: 1px;
  background: rgb(255, 255, 255);
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    350,
    from(rgb(255, 255, 255)),
    to(#0b1c53)
  );
}

header {
  font-size: 1.6rem;
  margin-top: 6rem;
  margin-bottom: 1rem;
}

header,
form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 25px;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1.8rem;
  border: none;
  background: rgb(255, 255, 255);
}

#btn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

form input::placeholder {
  font-size: 1.2rem;
  padding: 0.5rem;
}

form button {
  color: #0b1c53;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #0b1c53;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.filter-todo {
  padding: 1rem;
}

.todo li {
  flex: 1;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.delete-btn,
.edit-btn,
.complete-btn {
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: rgb(36, 182, 0);
}

.edit-btn {
  background: rgb(214, 175, 0);
}

.delete-btn {
  background: rgb(134, 24, 24);
}

.delete-btn:hover {
  background: rgb(255, 150, 150);
  color: rgb(134, 24, 24);
  transition: all 0.3s ease;
}

.edit-btn:hover {
  background: rgb(255, 229, 115);
  color: rgb(214, 175, 0);
  transition: all 0.3s ease;
}

.complete-btn:hover {
  background: rgb(141, 253, 116);
  color: rgb(36, 182, 0);
  transition: all 0.3s ease;
}

.fa-trash,
.fa-edit,
.fa-check {
  pointer-events: none;
}

.completed {
  font-style: oblique;
  text-decoration: line-through;
  opacity: 0.5;
}

#editInput {
  padding: 0.5rem;
  font-size: 1.4rem;
  border: none;
  width: 27rem;
  background: rgb(255, 255, 255);
}

.containerBtn {
  text-align: center;
  border: none;
  width: 300px;
  padding-top: 1px;
}
